.calc-app {
    margin: 0 auto;
    margin-top: 40px;
    width: 260px;
   
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(60px,auto);
}
input[type="text"] {
    height: 50px;
    width: 253px;
    text-align: right;
}